.mat-toolbar {
  display: flex;
  justify-content: space-between;

  .flex-container {
    display: flex;
    cursor: pointer;

    .home-page {
      display: flex;
      margin-right: 30px;
    }

    .home-page:hover {
      color: cornflowerblue;
    }

    .favorites-page:hover {
      color: cornflowerblue;
    }
  }
}
