<div class="flex-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sun</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        8^ C
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mon</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        8^ C
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tue</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        8^ C
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Wed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        8^ C
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Thu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        8^ C
      </p>
    </mat-card-content>
  </mat-card>
</div>



