.flex-container {
  display: flex;

  .icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 150px;

    .favorites-button {
      margin-left: 5px;
    }
  }

  .card {
    width: 150px;
    height: 100px;
    margin-left: 60px;
  }

  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-shadow: none;
  }
}






