<div class="flex-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
  </mat-card>

  <mat-card class="card-title">
    <mat-card-title>Kyiv</mat-card-title>
    <mat-card-content>8^ C</mat-card-content>
  </mat-card>

  <div class="icon">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <div class="favorites-button">
      <button mat-raised-button>Add to favorites</button>
    </div>
  </div>
</div>




